<aside class="wrapper_purchase">
    <h2 class="aside_headline">3 Reasons To Purchase</h2>
    <div class="reasons">
        <p class="text_featured">Ut sed metus</p>
        <p class="text_reasons">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reasons">
        <p class="text_featured">Curabitur ac erat</p>
        <p class="text_reasons">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reasons">
        <p class="text_featured">Morbi dictum</p>
        <p class="text_reasons">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <button type="button" class="btn-aside">More reasons</button>
</aside>
