<!DOCTYPE html>
<footer class="bg-footer">
    <button class="btn-footer" href="#home"> <span class="icon icon-ico-arrow">
    </span>
    </button>
<div class="footer">
    <nav class="nav-sections">
        <ul class="nav-sections">
            <li><a class="fo_nav s-item1" href="index.html#main" target="_blank">Articles <span class="icon icon-pencil2 fo-icn"></span></a></li>
            <li><a class="fo_nav s-item1" href="index.html#books" target="_blank">Books <span class="icon icon-fire fo-icn"></span></a></li>
            <li><a class="fo_nav s-item1" href="index.html#events" target="_blank">Events <span class="icon icon-calendar fo-icn"></span></a></li>
            <li><a class="fo_nav s-item1" href="index.html#reasons" target="_blank">Reasons <span class="icon icon-power fo-icn"></span></a></li>
            <li><a class="fo_nav s-item1" href="index.html#tips" target="_blank">Tips <span class="icon icon-star-full fo-icn"></span></a></li>
        </ul>
    </nav>
    <div class="footer-separator"></div>
    <nav class="nav-media">
        <ul class="nav-media">
            <li><a class="fo_nav m-item1" href="https://twitter.com/" target="_blank">Twitter <span class="icon icon-twitter fo-icn"></span></a></li>
            <li><a class="fo_nav m-item1" href="https://www.instagram.com/?hl=es" target="_blank">Instagram <span class="icon icon-icon fo-icn"></span></a></li>
            <li><a class="fo_nav m-item1" href="https://mastodon.social/about" target="_blank">Mastodon.social <span class="icon icon-elephant-head fo-icn"></span></a></li>
        </ul>
    </nav>
    <div class="copy">
        <p class="copy">©2017</p>
    <a href="index.html#home" class="anchor">
        <div class="footer_motto">we 
            <span class="footer_heart">❤
            </span> 
        components</div>
    </a>
</div>
</div>
</footer>