<!DOCTYPE html>
<footer class="bg-footer">
    <button class="btn-footer" href="#home">
    </button>
<div class="footer">
    <nav class="nav-sections">
        <ul class="nav-sections">
            <li><a class="fo_nav s-item1" href="#main">Articles</a></li>
            <li><a class="fo_nav s-item1" href="#books">Books</a></li>
            <li><a class="fo_nav s-item1" href="#events">Events</a></li>
            <li><a class="fo_nav s-item1" href="#reasons">Reasons</a></li>
            <li><a class="fo_nav s-item1" href="#tips">Tips</a></li>
        </ul>
    </nav>
    <div class="footer-separator"></div>
    <nav class="nav-media">
        <ul class="nav-media">
            <li><a class="fo_nav m-item1" href="https://twitter.com/">Twitter<span class="icon icon-twitter"></span></a></li>
            <li><a class="fo_nav m-item1" href="https://www.instagram.com/?hl=es">Instagram</a></li>
            <li><a class="fo_nav m-item1" href="https://mastodon.social/about">Mastodon.social</a></li>
        </ul>
    </nav>
    <div class="copy">
        <p class="copy">©2017</p>
    <a href="#home" class="anchor">
        <div class="footer_motto">we 
            <span class="footer_heart">❤
            </span> 
        components</div>
    </a>
</div>
</div>
</footer>