@import 'core/variables';
@import 'core/mixins';

.bg-footer{
    background-color: $colorFooter;
    justify-content: center;
    & .btn-footer {
        @include arrow;
        background: $btncolor-second;
/*         background-image: url(../images/ico-arrow.svg);
 */        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
}


/* .btn-footer {
        width: 45px;
        height: 45px;
        border: 2px solid $btncolor-primary;
        &_box{
        background-image: url(..images/ico-arrow.svg);
    /* & .btn-footer {
        @include arrow();
        background-image: url("../images/ico-arrow.svg");
        transition: transform 1s ease-out;
        width: 45px;
        margin: auto;
        transform: translateY(-22.5px);
        &:hover{
            opacity: 0.8px;
            border: 3px solid $btncolor-primary;
        } */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorFooter;
    color: $btncolor-second;
    text-align: center;
    padding: 10px;

    & .nav-sections {
        list-style: none;
        padding-inline-start: 0px;
        flex-grow: 1;
        text-align: center;
    }
    & .nav-media, .copy {
        list-style: none;
        padding-inline-start: 0px;
        text-align: center;
    }
    & .fo_nav {
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        color: $btncolor-second;
        text-decoration: none;
    }
    &_heart {
        color: $btncolor-primary;
    }
    &-separator {
        height: 30px;
         @media all and (min-width:768px){
            display: none;
        }
    }
    @media all and (min-width:768px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 0;
        flex-basis: auto;
        align-items: baseline;
        padding: 25px;
        padding-left: 80px;
        & .fo_nav{
            margin: 15px;
            padding: 10px;
        }
        & .copy{
            order:2;
        }
        & .nav-sections{
            flex-grow:0;
            order:3;
        }
        & .nav-media{
            order: 4;
        }
        & .copy, .nav-media, .nav-sections{
            padding-right: 20px;
        }
    }
    @media all and (min-width:1280px) {
            justify-content: center;
            flex-grow: 0;
        }
    }
    .copy{
    & .anchor, .footer_motto {
    text-decoration: none;
    color: $btncolor-second;
    }
    }
}