@import 'core/variables';
@import 'core/mixins';
.bg-footer{
    background-color: $colorFooter;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorFooter;
    color: $colorFooter-text;
    text-align: center;
    padding: 10px;

    & .nav-sections {
        list-style: none;
        padding-inline-start: 0px;
        flex-grow: 1;
        text-align: center;
        margin-bottom: 45px;
        }
    .nav-media{
        margin-bottom: 45px;
    }
    & .nav-media, .copy {
        list-style: none;
        padding-inline-start: 0px;
        text-align: center;
    }
    & .fo_nav {
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        color: $colorFooter-text;
        text-decoration: none;
    }
    &_heart {
        color: $btncolor-primary;
    }
    &-separator {
        height: 30px;
        @media all and (min-width:768px){
            display: none;
        }
    }
    @media all and (min-width:768px){
        flex-direction: row-reverse;
        flex-flow: 1;
    }
}
.btn-footer {
        @include arrow();
        background-image: url("../images/ico-arrow.svg");
        transition: transform 1s ease-out;
        width: 45px;
        margin: auto;
        transform: translateY(-22.5px);
        &:hover{
            opacity: 0.8px;
            border: 3px solid $btncolor-primary;
        }
}
.copy_box {
    display: flex;
    flex-direction: column-reverse;
    .anchor, .footer_motto {
    text-decoration: none;
    color: $colorFooter-text;
    }
}
.wrapper-footer{
    @media all and (min-width:768px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: baseline;
    padding: 25px;
    padding-left: 80px;
    & .fo_nav{
        margin: 15px;
        padding: 10px;
    }
    & .copy{
        order:2;
    }
    & .nav-sections{
        order:3;
    }
    & .nav-media{
        order: 4;
    }
    @media all and (min-width:1280px){
        justify-content: space-around;
        flex-grow: 0;
    }
    & .copy, .nav-media, .nav-sections{
        padding-right: 20px;
    }
}
}