.wrapper-hero{
    height: 100vh;
    max-height: 768px;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    & .motto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-headline;
        font-weight: bold;
        font-size: 62px;
        color: $btncolor-second;
        line-height: 60px;
        padding: 25px;
        letter-spacing: 4px;
        &-child {
            margin: 20px;
        }
}
    & .headline{
        color: $btncolor-second;
        text-align: center;
        padding: 10px;
    }
}
.btn-hero {
    @include arrow();
    margin-top: 45px;
}