.btn-aside {
        color: $btncolor-second;
        font-weight: bold;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        width: 184px;
        height: 45px;
        grid-column: 2/3;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        position: relative;
        line-height: normal;
        border-radius: 20px;
        background-color:$btncolor-primary;
        transition: all 1s ease-in;
        &:hover{
            cursor: pointer;
            background: $btncolor-second;
            border: 2px solid $btncolor-primary;
            color: $btncolor-primary;
        }
}
.wrapper_purchase{
    padding: 35px;
    background-color: $colorMain;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    & .aside_headline{
        @include text-sm-headline;
        text-align: center;
        grid-column: span 3;
        @media all and (min-width:768px){
            @include text-md-headline;
            text-align: center;
        }
        @media all and (min-width:1280px){
            @include text-l-headline;
            text-align: center;
        }
    }
    & .wrapper-reasons{
        flex-direction: column;
        grid-column: 2/3;
        @media all and (min-width:768px){
            display: flex;
            flex-direction: row;
            flex-grow: 1;
           grid-column: span 3;
           justify-content: space-around;
        }
    }
    & .reasons{
        display: flex;
        flex-direction: column;
        margin: 12px;
        margin-bottom: 0px;
            @media all and (min-width:1280px){
                max-width: 20%;
            }
        & .text_featured{
            @include text-sm-feat;
                @media all and (min-width:768px){
                    @include text-md-feat;
                }
        & .text_reasons{
            @include text-sm-normal;
                @media all and (min-width:768px){
                    @include text-md-normal;
                }
        }
        }
    }
}