@import 'core/variables';
@mixin arrow {
    background-color: $btncolor-second;
    background-repeat: no-repeat;
    background-position: center;
    padding: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
