@import 'core/variables';
@mixin arrow {
    background-color: $btncolor-second;
    background-repeat: no-repeat;
    background-position: center;
    padding: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Textos*/
@mixin text-sm-before {
    font-family: $font-family;
    color: #8ccbea;
    font-size: 14px;
}
@mixin text-sm-normal_main {
    font-family: $font-family;
    color: #4a4a4a;
    font-size: 18px;
    text-align: left;
}
@mixin text-sm-feat {
    font-family: $font-headline;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
@mixin text-sm-normal {
    font-family: $font-family;
    color: black;
    font-size: 18px;
    text-align: center;
}
@mixin text-sm-headline {
    font-family: $font-headline;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}
/*No text-sm/md-before because it's the same except desktop*/
@mixin text-md-normal {
    font-family: $font-family;
    color: black;
    font-size: 20px;
    text-align: center;
}
@mixin text-md-normal_main {
    font-family: $font-family;
    color: #4a4a4a;
    font-size: 20px;
    text-align: left;
}
@mixin text-md-feat {
    font-family: $font-headline;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
@mixin text-md-headline {
    font-family: $font-headline;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    line-height: 45px;
}
/*Large size-L*/ 
@mixin text-l-headline {
    font-family: $font-headline;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
}
@mixin text-l-before {
    font-family: $font-family;
    color: #8ccbea;
    font-size: 16px;
}