* {
    box-sizing: border-box;
    line-height: 30px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: $font-family;
    margin: 0px;
    padding: 0px;
}
html{
    margin: 0px;
    padding: 0px;
}