$colorFooter: #0271bc;
$colorHeader: #0271bc;
$colorMain: #8ccbea;
$btncolor-primary: #f26002;
$btncolor-second: #ffffff;
$colorFooter-text: #000;
$font-family: 'Roboto', sans-serif;
$font-headline: 'Roboto+Slab', sans-serif;

$lineHMobile: 30px;
$font-family: 'Roboto', sans-serif;
$font-headline: 'Roboto+Slab', sans-serif;

$lineHMobile: 30px;