$colorFooter: #304268;
$colorHeader: #0271bc;
$colorMain: #8ccbea;
$btncolor-primary: #f26002;
$btncolor-second: #ffffff;
$font-family: 'Roboto', sans-serif;
$font-headline: 'Roboto+Slab', sans-serif;

$lineHMobile: 30px;
$font-family: 'Roboto', sans-serif;
$font-headline: 'Roboto+Slab', sans-serif;

$lineHMobile: 30px;

/* Iconos m1 fuente*/
$icomoon-font-family: "m1icons" !default;
$icomoon-font-path: "../icons/fonts" !default;

$icon-elephant-head: "\e900";
$icon-ico-arrow: "\e901";
$icon-ico-menu: "\e902";
$icon-icon: "\e903";
$icon-ico-scroll-down: "\e904";
$icon-pencil2: "\e906";
$icon-envelop: "\e945";
$icon-calendar: "\e953";
$icon-fire: "\e9a9";
$icon-power: "\e9b5";
$icon-star-full: "\e9d9";
$icon-twitter: "\ea96";
$icon-linkedin: "\eac9";